MONGODB_URI="mongodb+srv://sumantKumar:Sumant123@cluster0.xa4w7.mongodb.net/MERN-ecom?retryWrites=true&w=majority&appName=Cluster0"
TOKEN_SECRET_KEY="adsdjksadsjfsajlfjlajkkkdskaj"
FRONTEND_URL=http://localhost:5173
